/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body { 
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 30px;
  background-color: black;
}

.version-info {
  font-size: 8pt;
  float: right;
}

/* Change text colour when inputting text*/
.toolbar-search, mat-placeholder {
  color: black;
}

/* Changes the underline and placeholder colour before input is selected*/

/** Overrides underline color **/
.my-form-field.mat-form-field-appearance-legacy .mat-form-field-underline,
.my-form-field.mat-form-field-appearance-legacy .mat-form-field-ripple,
.my-form-field.mat-form-field-appearance-legacy.mat-focused
    .mat-form-field-underline,
.my-form-field.mat-form-field-appearance-legacy.mat-focused
    .mat-form-field-ripple {
		background-color: darkgray;
}

/** Overrides label color **/
.my-form-field.mat-form-field-appearance-legacy .mat-form-field-label,
.my-form-field.mat-form-field-appearance-legacy.mat-focused
    .mat-form-field-label {
		color: gray;
}

.custom-toggler.navbar-toggler {
	border-color: rgb(255,102,203);
}
.custom-toggler .navbar-toggler-icon {
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/** Overrides caret & text color **/
.my-form-field.mat-form-field-appearance-legacy .mat-input-element {
    caret-color: red;
	color: black;
}


/* Add application styles & imports to this file! */
a, h1, h2, h3, h4, h5, label{
	color: green;
}

p {
	font-family: Lato;
  }
  
  /* * {
	background-color:red;
  } */
  
  .notifier__container * {
	box-sizing: border-box;
  }
  
  .notifier__container-list {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	list-style-type: none;
  }
  
  .notifier__notification {
	display: block;
	position: fixed;
	visibility: hidden;
	z-index: 10000;
	will-change: transform;
	backface-visibility: hidden;
  }
  
  .notifier__notification--material {
	border-radius: 3px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	cursor: default;
	padding-top: 11px;
	padding-right: 26px;
	padding-bottom: 10px;
	padding-left: 26px;
  }
  
  .notifier__notification--material .notifier__notification-message {
	display: inline-block;
	margin-top: 0;
	margin-bottom: 0;
	vertical-align: top;
	line-height: 32px;
	font-size: 15px;
  }
  
  .notifier__notification--material .notifier__notification-button {
	display: inline-block;
	transition: opacity .2s ease;
	opacity: .5;
	margin-right: -10px;
	margin-left: 10px;
	outline: none;
	border: none;
	background: none;
	cursor: pointer;
	padding: 6px;
	width: 32px;
	height: 32px;
	vertical-align: top;
  }
  
  .notifier__notification--material .notifier__notification-button:hover, .notifier__notification--material .notifier__notification-button:focus {
	opacity: 1;
  }
  
  .notifier__notification--material .notifier__notification-button:active {
	transform: scale(0.82);
	opacity: 1;
  }
  
  .notifier__notification--default {
	background-color: #444;
	color: #FFF;
  }
  
  .notifier__notification--default .notifier__notification-button-icon {
	fill: #FFF;
  }
  
  .notifier__notification--error {
	background-color: #D9534F;
	color: #FFF;
  }
  
  .notifier__notification--error .notifier__notification-button-icon {
	fill: #FFF;
  }
  
  .notifier__notification--info {
	background-color: #5BC0DE;
	color: #FFF;
  }
  
  .notifier__notification--info .notifier__notification-button-icon {
	fill: #FFF;
  }
  
  .notifier__notification--success {
	background-color: #5CB85C;
	color: #FFF;
  }
  
  .notifier__notification--success .notifier__notification-button-icon {
	fill: #FFF;
  }
  
  .notifier__notification--warning {
	background-color: #F0AD4E;
	color: #FFF;
  }
  
  .notifier__notification--warning .notifier__notification-button-icon {
	fill: #FFF;
  }
  
	/*# sourceMappingURL=styles.css.map */
	
	.separator-line {
		width: solid 1px;
		background-color:  #dedede;
		margin: 10px auto;
 }
