<div class="container ">
  <div class="row" style="height: 120px" > 
  </div>
  <div class="row" > 
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="form-row">
              <div class="col-md-6 mx-auto">
                  <div class="card card-body" style="border-width: 0px;">
                      <h2 class="text-center mb-4">Contact</h2>
                      <fieldset>    
                        <div class="cmsms_column one_half cmsms_column_1">
                          <div class="cmsms_text bounceIn animated" data-animation="bounceIn" data-delay="0">
                            <p>Please, do not hesitate in contact us if you require further infromation regarding the services of our company. We count with a supportive team that is glad to help you. If you require a quotation please write us to our email and we will be contacting you as soon as possible.</p>
                          </div>
                          <h3 id="cmsms_heading_5be468b0e04ae" class="cmsms_heading">Adelaide Contact Info</h3>
                          <ul id="cmsms_icon_list_items_5be468b0e0685" class="cmsms_icon_list_items cmsms_icon_list_type_list cmsms_icon_list_pos_left cmsms_color_type_border cmsms_column_1"><li id="cmsms_icon_list_item_5be468b0e082c" class="cmsms_icon_list_item cmsms-icon-location-7">2 Lonsdale St, Woodville North S.A 5012, Australia</li><li id="cmsms_icon_list_item_5be468b0e08cb" class="cmsms_icon_list_item cmsms-icon-mobile-6">0490930101 - 0450575616</li><li id="cmsms_icon_list_item_5be468b0e0965" class="cmsms_icon_list_item cmsms-icon-mail-7">info@ecosolida.com</li></ul>
                          <h3 id="cmsms_heading_5be468b0e0a4a" class="cmsms_heading">Melbourne Contact Info</h3> 
                          <ul id="cmsms_icon_list_items_5be468b0e0af7" class="cmsms_icon_list_items cmsms_icon_list_type_list cmsms_icon_list_pos_left cmsms_color_type_border cmsms_column_1"><li id="cmsms_icon_list_item_5be468b0e0c63" class="cmsms_icon_list_item cmsms-icon-location-7">60 pine St, Reservior Vic, Australia</li><li id="cmsms_icon_list_item_5be468b0e0cf9" class="cmsms_icon_list_item cmsms-icon-mobile-6">0468382087</li><li id="cmsms_icon_list_item_5be468b0e0d8d" class="cmsms_icon_list_item cmsms-icon-mail-7">info@ecosolida.com</li></ul>
                        </div>
                      </fieldset>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
